# 컴파일된 클래스 파일

*.class
bin/
target/
build/

# 로그 파일

*.log

# BlueJ 파일

*.ctxt

# 모바일 툴즈 플랫폼 (J2ME)

.mtj.tmp/

# 패키지 파일

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# 가상 머신 충돌 로그

hs_err_pid*
replay_pid*

# Eclipse 관련 파일

.classpath
.project
.settings/

# IntelliJ IDEA 관련 파일

.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans 관련 파일

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code 관련 파일

.vscode/

# Mac OS 관련 파일

.DS_Store

# Gradle 관련 파일

.gradle
/build/
!src//build/

# Maven 관련 파일

.mvn/
mvnw
mvnw.cmd
/.metadata/
